*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
  background-image: url('bg2.jpg');
  background-size: 100% 200%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px 15px 0 0;
}
     .content{
      min-height: 50vh;
    }
    .user{
      margin-left: 10%;
      margin-right:10%
    }
    .speach{
      border-style: double;
      border-color: aquamarine;
    
    }
    .karangan{
     color: blanchedalmond;
    }
    .Xspeach{
      border-style: double;
      border-color: aquamarine;
    
    }